<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site d'e-commerce</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.css">
</head>
<body id="about">
    <section id="header">
        <a href="../"><img src="../public/images/logo.png" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="../">Home</a></li>
                <li><a href="./shop.html">Shop</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a class="active" href="#">Contact</a></li>
                <a href="#" id="close"><i class="icon-indent-right"></i></a>
                <li><a href="./cart.html"><i class="icon-shopping-cart"></i></a><li>
            </ul>
        </div>
        <div id="mobile">
            <!-- <a href=""><i class="icon-shopping-cart"></i></a> -->
            <i id="bar" class="icon-indent-left"></i>
        </div>
    </section>
    
    <section id="page-header" class="about-header">
        <h2>#let's_talk</h2>
        <p>LEAVE A MESSAGE, We love to hear form you</p>
    </section>
    
    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit one of our agency locations or contact us today</h2>
            <h3>Head office</h3>
            <div>
                <li>
                    <i class="icon-lemon"></i>
                    <p>56 Glassford Street Glasgow G1 1UL Bénin</p>
                </li>
            </div>
            <div>
                <li>
                    <i class="icon-envelope"></i>
                    <p>56 Glassford Street Glasgow G1 1UL Bénin</p>
                </li>
            </div>
            <div>
                <li>
                    <i class="icon-phone"></i>
                    <p>56 Glassford Street Glasgow G1 1UL Bénin</p>
                </li>
            </div>
            <div>
                <li>
                    <i class="icon-dashboard"></i>
                    <p>56 Glassford Street Glasgow G1 1UL Bénin</p>
                </li>
            </div>
        </div>
        <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15860.526405705641!2d2.4594789531441026!3d6.377007697811452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103cab41e89f28ef%3A0x834886407fc6740!2sAkpakpa%20Avotrou!5e0!3m2!1sfr!2sbj!4v1682057872847!5m2!1sfr!2sbj" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    
    <section id="form-details">
        <form action="" method="#">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="E-mail">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submit</button>
        </form>
        <div class="people">
            <div>
                <img src="../public/images/td.jpg" alt="">
                <p><span>Djibs Tam</span> Developper Web <br> Phone: +299 95157760 <br> Email: tamousanni0@gmail.com</p>
            </div>
            <div>
                <img src="../public/images/hero-men3.png" alt="">
                <p><span>Emma Stom</span> Design Web <br> Phone: +299 95351452 <br> Email: tamousanni0@gmail.com</p>
            </div>
            <div>
                <img src="../public/images/logo1.png" alt="">
                <p><span>@Jibril</span> Developper Logo <br> Phone: +229 67136757 <br> Email: tamousanni0@gmail.com</p>
            </div>
        </div>
    </section>
    
    <section id="newletter" class="section-p1 section-m1">
        <div class="newtext">
            <h4>Sign Up For Newsletter</h4>
            <p>Get E-email updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" value="" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>
    
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="./public/images/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address : </strong>Lorem ipsum dolor sit amet.</p>
            <p><strong>Phone : </strong>+229 95157760 /(+229) 67136757</p>
            <p><strong>Hours : </strong>7:00 - 17:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="icon-facebook"></i>
                    <i class="icon-twitter"></i>
                    <i class="icon-instagram"></i>
                    <i class="icon-pinterest"></i>
                    <i class="icon-youtube-play"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="">Delivery Information</a>
            <a href="">Privacy Policy</a>
            <a href="">Teams & Conditions</a>
            <a href="">Caontact us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="">Sign In</a>
            <a href="">View Cart</a>
            <a href="">My Wishlist</a>
            <a href="">Help</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>Form App Store or Google play</p>
            <div class="row">
                <img src="../public/images/pay/play.jpg" alt="">
                <img src="../public/images/pay/app.jpg" alt="">
            </div>
            <p>Security payment Geteways</p>
            <img src="./public/images/payment-footer.png" alt="">
        </div>
        <div class="copyright">
            <p>Ce site a été mis au point par <span>Djibs </span>|| <span>TAMOU</span> Dit TD @ en 2023.</p>
        </div>
    </footer>
    
<script src="../assets/js/script.js"></script>
</body>
</html>