<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site d'e-learning</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.css">
</head>
<body id="course">
    <section id="header">
        <a href="../"><img src="../public/images/logo.png" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="../">Home</a></li>
                <li><a class="active" href="#">Shop</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <a href="#" id="close"><i class="icon-indent-right"></i></a>
                <li><a href="./cart.html"><i class="icon-shopping-cart"></i></a></li>
            </ul>
        </div>
        <div id="mobile">
            <!-- <a href=""><i class="icon-shopping-cart"></i></a> -->
            <i id="bar" class="icon-indent-left"></i>
        </div>
    </section>
    
    <section id="page-header">
        <h2>#stayhome</h2>
        <p>Save more with coupons & up to 70% off</p>
    </section>
    
    <section id="course1" class="section-p1">
        <div class="co-container">
            <div class="co" onclick="window.location.href='./scourse.html'">
                <img src="../public/images/products/f1.jpg" alt="">
                <div class="des">
                    <span>The book</span>
                    <h5>The book of school</h5>
                    <div class="star">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                    </div>
                    <h4>$60</h4>
                </div>
                <a href=""><i class="icon-shopping-cart cart"></i></a>
            </div>
            <div class="co">
                <img src="../public/images/products/f2.jpg" alt="">
                <div class="des">
                    <span>The book</span>
                    <h5>The book of school</h5>
                    <div class="star">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                    </div>
                    <h4>$60</h4>
                </div>
                <a href=""><i class="icon-shopping-cart cart"></i></a>
            </div>
            <div class="co">
                <img src="../public/images/products/f3.jpg" alt="">
                <div class="des">
                    <span>The book</span>
                    <h5>The book of school</h5>
                    <div class="star">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                    </div>
                    <h4>$60</h4>
                </div>
                <a href=""><i class="icon-shopping-cart cart"></i></a>
            </div>
            <div class="co">
                <img src="../public/images/products/f4.jpg" alt="">
                <div class="des">
                    <span>The book</span>
                    <h5>The book of school</h5>
                    <div class="star">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                    </div>
                    <h4>$60</h4>
                </div>
                <a href=""><i class="icon-shopping-cart cart"></i></a>
            </div>
            <div class="co">
                <img src="../public/images/products/f5.jpg" alt="">
                <div class="des">
                    <span>The book</span>
                    <h5>The book of school</h5>
                    <div class="star">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                    </div>
                    <h4>$60</h4>
                </div>
                <a href=""><i class="icon-shopping-cart cart"></i></a>
            </div>
            <div class="co">
                <img src="../public/images/products/f6.jpg" alt="">
                <div class="des">
                    <span>The book</span>
                    <h5>The book of school</h5>
                    <div class="star">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                    </div>
                    <h4>$60</h4>
                </div>
                <a href=""><i class="icon-shopping-cart cart"></i></a>
            </div>
    
            <div class="co">
                <img src="../public/images/products/f7.jpg" alt="">
                <div class="des">
                    <span>The book</span>
                    <h5>The book of school</h5>
                    <div class="star">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                    </div>
                    <h4>$60</h4>
                </div>
                <a href=""><i class="icon-shopping-cart cart"></i></a>
            </div>
            <div class="co">
                <img src="../public/images/products/f8.jpg" alt="">
                <div class="des">
                    <span>The book</span>
                    <h5>The book of school</h5>
                    <div class="star">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                    </div>
                    <h4>$60</h4>
                </div>
                <a href=""><i class="icon-shopping-cart cart"></i></a>
            </div>
            <div class="co">
                <img src="../public/images/products/n1.jpg" alt="">
                <div class="des">
                    <span>The book</span>
                    <h5>The book of school</h5>
                    <div class="star">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                    </div>
                    <h4>$60</h4>
                </div>
                <a href=""><i class="icon-shopping-cart cart"></i></a>
            </div>
            <div class="co">
                <img src="../public/images/products/n2.jpg" alt="">
                <div class="des">
                    <span>The book</span>
                    <h5>The book of school</h5>
                    <div class="star">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                    </div>
                    <h4>$60</h4>
                </div>
                <a href=""><i class="icon-shopping-cart cart"></i></a>
            </div>
            <div class="co">
                <img src="../public/images/products/n3.jpg" alt="">
                <div class="des">
                    <span>The book</span>
                    <h5>The book of school</h5>
                    <div class="star">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                    </div>
                    <h4>$60</h4>
                </div>
                <a href=""><i class="icon-shopping-cart cart"></i></a>
            </div>
            <div class="co">
                <img src="../public/images/products/n4.jpg" alt="">
                <div class="des">
                    <span>The book</span>
                    <h5>The book of school</h5>
                    <div class="star">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                    </div>
                    <h4>$60</h4>
                </div>
                <a href=""><i class="icon-shopping-cart cart"></i></a>
            </div>
        </div>
    </section>
    
    <section id="pagination" class="section-p1">
        <a href="">1</a>
        <a href="">2</a>
        <a href=""><i class="icon-arrow-right"></i></a>
    </section>
    
    <section id="newletter" class="section-p1 section-m1">
        <div class="newtext">
            <h4>Sign Up For Newsletter</h4>
            <p>Get E-email updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" value="" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>
    
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="../public/images/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address : </strong>Lorem ipsum dolor sit amet.</p>
            <p><strong>Phone : </strong>+01 222 140 /(+90) 02 1470 6713</p>
            <p><strong>Hours : </strong>7:00 - 17:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="icon-facebook"></i>
                    <i class="icon-twitter"></i>
                    <i class="icon-instagram"></i>
                    <i class="icon-pinterest"></i>
                    <i class="icon-youtube-play"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="">Delivery Information</a>
            <a href="">Privacy Policy</a>
            <a href="">Teams & Conditions</a>
            <a href="">Caontact us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="">Sign In</a>
            <a href="">View Cart</a>
            <a href="">My Wishlist</a>
            <a href="">Help</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>Form App Store or Google play</p>
            <div class="row">
                <img src="../public/images/g_p.png" alt="">
            </div>
            <p>Security payment Geteways</p>
            <img src="../public/images/payment-footer.png" alt="">
        </div>
        <div class="copyright">
            <p>Ce site a été mis au point par <span>Djibs </span>|| <span>TAMOU</span> Dit TD @ en 2023.</p>
        </div>
    </footer>
   
<script src="../assets/js/script.js"></script> 
</body>
</html>